div {
  display: grid;
  justify-items: stretch;
  align-content: space-between;
}

h3 {
  margin: 0;
}

.main-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;

  align-content: space-between;
  justify-items: center;
  border-radius: 3px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.add-hotel {
  width: 432px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  :last-child {
    margin-left: 2rem;
  }
}

.hotels-container {
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.hotels {
  margin: 0.5rem;
  padding: 1rem;
  width: 400px;
  display: -webkit-inline-box;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: rgba(239, 239, 239, 0.829);
  }
}

.hotel-info {
  margin-left: 1rem;
  display: inline-table;
}

.hotel-point {
  display: grid;
  align-content: space-around;
  justify-content: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: normal;
  text-indent: 15px;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  color: rgb(68, 197, 209);
  background-color: rgba(239, 239, 239, 0.829);
}

.hotel-name {
  margin-bottom: 1rem;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.info-container {
  display: grid;
  align-content: space-between;
  border-radius: 3px;
}

.button-container {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.button-container :last-child {
  margin-left: 1rem;
}

.button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: rgb(48, 94, 202);
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgb(48, 94, 202);
  cursor: pointer;
  :hover {
    background-color: rgb(0, 255, 51);
    color: #fff;
  }
}

img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.remove-container {
  width: 436px;
  position: absolute;
  align-items: end;
  justify-items: flex-end;
}

.remove-button {
  display: none;
}

.hotels:hover .remove-button {
  display: grid;
  align-content: end;
  text-decoration: none;
  position: absolute;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.plus-button {
  margin-top: 1rem;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(25, 0, 255);
  border-radius: 5px;
  background-color: #fff;
  color: rgb(25, 0, 255);
  cursor: pointer;
  :hover {
    border: 10px solid rgb(25, 0, 255);
    color: #fff;
  }
}
