div {
  display: grid;
  align-content: space-between;
}

.main-container {
  margin: 2rem;
  padding: 2rem;
  display: grid;
  justify-items: center;
  width: 500px;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.hotels-container {
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.hotels {
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  display: -webkit-inline-box;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.hotel-info {
  margin-left: 1rem;
  display: inline-table;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.hotel-point {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: normal;
  width: 150px;
  border-radius: 3px;
  color: rgb(58, 210, 224);
  background-color: rgba(218, 223, 222, 0.829);
}

.hotel-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: normal;
}

.info-container {
  display: grid;
  align-content: space-between;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.button-container {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.button-container :last-child {
  margin-left: 1rem;
}

.button {
  width: 100px;
  height: 30px;
  color: rgb(7, 44, 255);
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgb(7, 44, 255);
  cursor: pointer;
  :hover {
    background-color: rgb(0, 255, 51);
    color: #fff;
  }
}

img {
  width: 150px;
  height: 150px;
  border-radius: 1px;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}
